/*
 *  TEMPLATE-BLUE
 */
a:hover, a:focus, a:active {
  color: #4391e1;
}
.topbar-fixed{ background:#3b3a48;}
.navbar-brand{ background:#3b3a48;}
.navbar-brand a,.navbar-brand a:hover{ color:#FFF;}
.user-profile{ background:#;}
.menu-toggle{ background:#66b1ff;}
.menu-toggle:hover{ background:#4391e1;}
.navbar-top-links li.open > a {
  color:#fff;
  background: #4391e1;
}
.navbar-top-links li > a{ color:#fff;}
.navbar-top-links li > a i{ color:#fff}
.navbar-top-links li > a:hover{ color:#fff;}
.nav>li{border-left:0px solid #f4f4f4;}
.navbar-top-links li.open > a:hover,
.navbar-top-links li.open > a:focus {
  background: #4391e1;
}
.pageslide-left{ background:#3f92e8;}
.user-profile dd p{ color:#fff; padding-top:6px;}
.main-nav li > a{ color:#fff;}
.main-nav li a em{ margin-right:5px;}
.main-nav li a i{ display:inline-block; width:16px;}
.main-nav li{ border-top:0; border-bottom:0;}
.main-nav li:first-child{ border-top:0px solid #3f4b58;}
.main-nav li:last-child{ border-bottom:0; box-shadow:none;}
.main-nav li > a:hover, .main-nav li.open > a{ color:#ffffff; background:#2e80d5;}
.main-nav li ul{ background:#2e80d5; border-top:0px solid #1e2532;}

.main-nav li ul li a:hover{background:#57a3f2;color:#FFF;}
.main-nav li ul li.cur a{
	padding-left:40px;
	border-left:0px solid #000;
	background:#57a3f2;
	color:#FFF;
	text-decoration:none;	
}
.title-breadcrumb {
    background: none;
    padding: 15px 30px 5px;
    margin-bottom: 10px;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.breadcrumb a:hover{color:#4391e1;}

.footer{ background:#FFF; opacity:.8; color:#666; border-top:1px solid #ddd;}





