@media (max-width: 768px){
.column {
    width: 100% !important;
}
}
@media (max-width: 768px){
.pageslide-left{
    left:-240px;
}
.main-container{
    margin-left:0;	
}
}

@media (min-width: 768px) and (max-width: 991px) {
.column {
    width: 50% !important;
}
}
@media (min-width: 991px) and (max-width: 1200px) {
.column {
    width: 50% !important;
}
}
@media (min-width: 1200px) {
.column {
    width: 33.3% !important;
}
}


@media screen and (max-width: 1000px){
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #ddd;
}
.table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td {
    white-space: nowrap;
}
}

@media screen and (max-width: 1360px){
.table-responsive2 {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #ddd;
}
.table-responsive2>.table>thead>tr>th, .table-responsive2>.table>tbody>tr>th, .table-responsive2>.table>tfoot>tr>th, .table-responsive2>.table>thead>tr>td, .table-responsive2>.table>tbody>tr>td, .table-responsive2>.table>tfoot>tr>td {
    white-space: nowrap;
}
}
