<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>示例页-list和tabs</title>
    <!-- start: BASE CSS -->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/font-awesome-ie7.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
    <!-- end: BASE CSS -->
    <!--引入 dataTables -->
    <link rel="stylesheet" href="/static/assets/plugins/datatables/jquery.dataTables.css">

    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/skin-default.css" id="skinCss">
    <link rel="stylesheet" href="/static/assets/css/styles-responsive.css">
    <link rel="stylesheet" href="/static/assets/css/plugins.css">
    <!-- end: MAIN CSS -->
</head>
    #set($layout = "layout/empty.vm")

<div id="simpleTableExt">
    #set($tableFormId="supplier_page_list")

    <div class="row mbl mtl">
        <div class="column-box">
            <div class="column-header">
                <div class="column-title">商家信息详情</div>
                <div class="column-content has-padding">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <div >商家ID：$!{supplierInfo.supplierId}</div>
                        </div>
                        <div class="form-group col-md-3">
                            <div  >公司ID：$!{supplierInfo.companyId}</div>
                        </div>
                        <div class="form-group col-md-3">
                            <div  >结算账户ID：$!{supplierInfo.accountId}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <div  >商家名称：$!{supplierInfo.supplierName}</div>
                        </div>
                        <div class="form-group col-md-3">
                            <div  >公司名称：$!{supplierInfo.companyName}</div>
                        </div>
                        <div class="form-group col-md-3">
                            <div  >结算账户类型：$!supplierInfo.accountType</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="space60"></div>
            <!-- start list2 -->
            <div class="row mbl">
                <div class="col-md-12">
                    <div class="panel panel-tabs">
                        <div class="panel-heading">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#1" data-toggle="tab">常规</a></li>
                                <li class=""><a href="#2" data-toggle="tab">财务信息</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="1">
                                    <!-- 待收货列表 -->
                                    <div class="column-content has-padding">
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <div >店铺状态：#if($!{supplierInfo.state}) 启用 #else 停用#end</div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <div  >商家类型：$!{supplierInfo.supplierType}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <div >冻结状态：#if($!{supplierInfo.ftState}) 冻结 #else 解冻 #end</div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <div  >事业部：$!{supplierInfo.buId}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="2">
                                    <div class="column-content has-padding">
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <div >银行开户名：#$!{purchaseInfo.depositName}</div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <div  >开户行支行名称：$!{supplierInfo.deposotBankName}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <div >开户银行联行号：$!{supplierInfo.associatedLineNum}</div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <div  >银行账号：$!{supplierInfo.depositId}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <div  >结算支付方式：$!paymentTypeName</div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <div  >账户验证状态（一分钱）：#if($!{supplierInfo.processStatus}) 通过 #else 未通过 #end</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end list2 -->

        </div>
    </div>






</div>
<script src="/static/assets/plugins/jQuery/jquery-2.1.1.min.js"></script>

<!--<![endif]-->
<script src="/static/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
<script src="/static/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
<script src="/static/assets/plugins/My97DatePicker/WdatePicker.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap-datetimepicker.js"></script>
<script src="/static/assets/plugins/datatables/jquery.dataTables.js"></script><!-- dateTables -->
<!-- end: MAIN JAVASCRIPTS -->


<script src="/static/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script><!-- bootstrap -->
<script src="/static/assets/js/main.js"></script>

<script>


