#set($layout = "layout/empty.vm")
<div id="simpleTableExt">
    #set($tableFormId="supplier_page_list")
        <div class="row mbl mtl">
            <div class="column-box">
                <div class="column-header">
                    <div class="column-title">同步商家主数据</div>
                </div>
                <div class="column-content has-padding">

                    <div class="text-center">
                        <button type="button" class="btn btn-green mrl" id="beginSynAll"> 开始同步全量数据 </button>
                    </div>

                </div>
                <div class="column-content has-padding">
                    <div class="text-center">
                        <textarea id="accountIds" style="height: 80px;width: 350px;" placeholder="请输入accountId，以英文逗号分割，如果本地存在则删除后更新；"></textarea>
                        <button type="button" class="btn btn-green mrl" id ="synAccountIds"> 同步 </button>
                    </div>
                </div>
            </div>
        </div>
</div>


<script>

    //同步数据
    $("#synAccountIds").click(
        function () {
            $.ajax({
                type: 'POST',
                async :false,
                cache : false,
                url: "#springUrl('')/supplier/synAccountIds",
                data:{"ids":$("#accountIds").val()},
                dataType :'json',
                error: function(){
                },
                success: function(result){
                    if(result.success){
                        alert("同步完毕！");
                    }else{
                        alert(result.msg);
                    }
                }
            });
        }
    );


        $("#beginSynAll").click(
            function () {
                if (confirm("是否开始同步商家主数据？")){
                    $.ajax({
                        type: 'POST',
                        async :false,
                        cache : false,
                        url: "#springUrl('')/supplier/sync",
                        data:{"id":1},
                        dataType :'json',
                        error: function(){
                        },
                        success: function(result){
                            if(result.success){
                                alert("同步完成！")
                            }else{
                                alert(result.msg);
                            }
                        }
                    });
                }
            }
        );


</script>


