<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jmq="http://code.jd.com/schema/jmq"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.jd.com/schema/jmq
	    http://code.jd.com/schema/jmq/jmq-1.0.xsd" default-autowire="byName">

    <jmq:transport id="jmq.transport" address="${jmq.address}" user="${jmq.user}" password="${jmq.password}" app="${jmq.consumer.app}"
                   epoll="${jmq.epoll}"/>

    <jmq:consumer id="consumer" transport="jmq.transport">
        <jmq:listener topic="${jmq.consumer.merchantmaster.top}" listener="synSupplierInfoMqConsumer"/>
    </jmq:consumer>

    <bean id="synSupplierInfoMqConsumer" class="com.jd.fms.merchantmaster.mq.SynSupplierInfoMqConsumer" >
    </bean>

</beans>