body,html{ background:#f9f9f9;}
body,button,input,select,textarea{font:12px Microsoft YaHei,tahoma,arial}
input{outline:0}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;margin:0;padding:0;padding:0;font-family:'Microsoft YaHei','tahoma','arial'}
header,footer,nav,section,article,aside,dialog,figure,menu{display:block}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
ol,ul,li{list-style:none}
.cl:after{display:block;visibility:hidden;clear:both;font-size:0;content:' '}
.cl{display:block;/* for IE6 IE7 */overflow:hidden;zoom:1}
.fl,.fr{display:inline}
.cl{overflow:hidden;clear:both;height:0}
.fl{float:left}
.fr{float:right}
.relative{position:relative}
.fb{font-weight:700}
.hide{ overflow:hidden;}

/*无权限*/
.tipsnobox{ margin:100px auto 0; width:660px;}
.tipsno{ margin-bottom:40px; text-align:center; font-size:22px; line-height:50px; color:#666;}
.tipsno span{ display: inline-block; width: 50px; height:50px; background: url(../images/i-no.png) no-repeat; margin-right:15px; vertical-align: middle;}
.tipsnoSubbox{padding:15px; background: #FFF; border-radius:3px; box-shadow: 0 1px 4px rgba(0,0,0,.15); }
.tipsnoSubbox h5{margin-bottom:20px; font-size: 14px; font-weight: 400; padding:10px 20px; border-bottom:1px solid #ddd;}
.tipsnoItem{ padding-left:20px;}
.tipsnoItem span{ display: inline-block; width:32%;font-family: arial; font-size: 14px; color:#999;margin-bottom: 15px}

/*welcome*/
*{box-sizing:inherit;}
.welBox{ position:absolute; top:50%; left:50%; width:500px; height:516px; margin-left:-250px; margin-top:-240px; background: url(../images/welcomebg.png) no-repeat; }
.balloon{ 
	position: absolute; 
	border-radius:50%; 
	color:#FFF; 
	text-shadow:0 1px 0 rgba(0,0,0,.15); 
	text-align: center; 
	cursor:; 	
}
.balloon i{ display: inline-block; margin-top:10px; width:50px; height:45px; background:url(../images/i-welcome.png) no-repeat; }
.balloon p{ margin-top:-3px; line-height: 14px;}
.ball1{ left:134px; top:0; width:116px; height:116px; background: #cce0f7; font-size: 12px;} 
.ball2{ left:243px; top:8px; width:110px; height:110px; background: #c4dcfa; font-size: 14px;}
.ball3{ left:56px; top:80px; width:116px; height:116px; background: #bcd0ee; font-size: 14px;}
.ball4{ left:290px; top:71px; width:120px; height:120px; background: #bcd0ee; font-size: 14px;}
.ball8{ left:162px; top:71px; width:128px; height:128px; border:5px solid #FFF; background: #85a8d2; }
.ball5{ left:104px; top:164px; width:90px; height:90px; background: #9eb8df; font-size: 12px;}
.ball6{ left:184px; top:158px; width:112px; height:112px; background: #93b3da; font-size: 14px;}
.ball7{ left:275px; top:150px; width:104px; height:104px; background: #9eb8df; font-size: 14px;}


.ball1 i{ background-position: 0 0;}
.ball2 i{ margin-top:6px; background-position: -50px 0;}
.ball3 i{ background-position: -100px 0;}
.ball4 i{ background-position: -150px 0;}
.ball5 i{ background-position: -200px 0;}
.ball6 i{ margin-top:20px; background-position: -250px 0;}
.ball7 i{ background-position: -300px 0;}
.ball8 p{ margin-top:20px; line-height: 26px;font-size: 18px; font-weight: 500;}


.balloon:hover{ 	
	-webkit-animation: piaodong 1s ease-in-out infinite;
	-moz-animation: piaodong 1s ease-in-out infinite;
	-o-animation: piaodong 1s ease-in-out infinite;
	animation: piaodong 1s ease-in-out infinite;
	-webkit-transform-origin:center bottom;
	-moz-transform-origin:center bottom;
	-o-transform-origin:center bottom;
	transform-origin:center bottom;	
}
@-webkit-keyframes piaodong{
	0%{
	   -webkit-transform:rotate(0deg);
	}
	25%{
	   -webkit-transform:rotate(-5deg);
	}
	50%{
	   -webkit-transform:rotate(0deg);
	}
	75%{
	   -webkit-transform:rotate(5deg);
	}
	100%{
	   -webkit-transform:rotate(0deg);
	}
}
@-moz-keyframes piaodong{
	0%{
	   -moz-transform:rotate(0deg);
	}
	25%{
	   -moz-transform:rotate(-5deg);
	}
	50%{
	   -moz-transform:rotate(0deg);
	}
	75%{
	   -moz-transform:rotate(5deg);
	}
	100%{
	   -moz-transform:rotate(0deg);
	}
}
@-o-keyframes piaodong{
	0%{
	   -o-transform:rotate(0deg);
	}
	25%{
	   -o-transform:rotate(-5deg);
	}
	50%{
	   -o-transform:rotate(0deg);
	}
	75%{
	   -o-transform:rotate(5deg);
	}
	100%{
	   -o-transform:rotate(0deg);
	}
}
@keyframes piaodong{
	0%{
	   transform:rotate(0deg);
	}
	25%{
	   transform:rotate(-5deg);
	}
	50%{
	   transform:rotate(0deg);
	}
	75%{
	   transform:rotate(5deg);
	}
	100%{
	   transform:rotate(0deg);
	}
}
