<input type="hidden" id="currPage" name="pageNumber" value="$!{page.thisPageNumber}">
<input type="hidden" id="pageSize" name="pageSize" value="$!{page.pageSize}">
<input type="hidden" id="showPage" name="showPage" value="$!{page.showPage}">
<div class="page-content">
    <div class="col-xs-6">
        第${page.thisPageNumber}页/共${page.lastPageNumber}页 &nbsp;&nbsp;&nbsp;&nbsp;总计${page.totalCount}条记录
		#set ($arr=["5", "10","25", "50", "100"])
        <select class="select w100" onchange="javascript:skipTo(1, this.value)">
			#foreach($num in $arr)
				#if($page.pageSize == $num)
                    <option value="$num" selected="selected">每页${num}行</option>
				#else
                    <option value="$num">每页${num}行</option>
				#end
			#end
        </select>
    </div>
    <div class="col-xs-6"></div>
    <div class="col-xs-6"></div>
    <div class="col-xs-6">
		#if($page.thisPageNumber <= 1)
            <a class="btn btn-white btn-xs disabled">首页</a>
            <a class="btn btn-white btn-xs disabled">上一页</a>
		#else
            <a class="btn btn-white btn-xs" href="javascript:skipTo(1)">首页</a>
            <a class="btn btn-white btn-xs" href="javascript:skipTo(${page.thisPageNumber} - 1)">上一页</a>
		#end
		#foreach( $pageNum in [$page.startPage..$page.endPage] )
			#if($pageNum == $page.thisPageNumber)
                <a class="btn btn-white btn-xs disabled">$pageNum</a>
			#else
                <a class="btn btn-white btn-xs" href="javascript:skipTo(${pageNum})">$pageNum</a>
			#end
		#end
		#if($page.thisPageNumber < $page.lastPageNumber)
            <a class="btn btn-white btn-xs" href="javascript:skipTo(${page.thisPageNumber} + 1)">下一页</a>
            <a class="btn btn-white btn-xs" href="javascript:skipTo(${page.lastPageNumber})">尾页</a>
		#else
            <a class="btn btn-white btn-xs disabled">下一页</a>
            <a class="btn btn-white btn-xs disabled">尾页</a>
		#end

        <input class="text" size="2" type="text" id="toCurrPage" name="pageNumber" value="${page.lastPageNumber}" />
        <button class="btn btn-white btn-xs" type="button" onclick="javascript:gotoPage(${page.thisPageNumber}, ${page.lastPageNumber});">跳转</button>
    </div>
</div>

<script  type="text/javascript">
    function gotoPage(pageNumber, pageCount){
        var toCurrPageTemp = $('#toCurrPage').val();
        if(toCurrPageTemp==pageNumber){

        }else if(toCurrPageTemp<=pageCount && toCurrPageTemp>=1){
            skipTo(toCurrPageTemp);
        }else{
            if(pageCount==1){
                showPopover(this, '', '当前列表只有1页数据，不能跳转');
            } else if(pageCount==0){
                showPopover(this, '', '当前列表无数据，不能跳转');
            } else{
                showPopover(this, '', '页数不正确，请输入1到' + pageCount + '之间的数字');
            }
        }
    }
</script>